# Dependencies
node_modules/

# Build Output
dist/

# Environment Variables (wichtig für Security!)
.env
.env.local
.env.production

# Logs
logs/
*.log

# OS-Dateien
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp